body{
    background-color:rgba(209, 212, 243, 0.623)
}

#mealmaindiv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;  
}

.meal-img{

    width: 100%;
    border-radius: 10px; 
}

.meal-main-div{
    box-shadow: 5px 3px 5px 3px rgba(233, 206, 148, 0.418);
    border-radius: 5px;
    background-color: rgb(0, 0, 0) ;
    border-radius: 10px;
}

.meal-name{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:25px;
}

.mealDetails-img{
    border-radius: 5px;
    width:600px ;
}



#single_meal{
    margin:0 auto;
    width: 500px;
    /* border: 5px dotted rgb(240, 136, 122); */
    border-radius: 15px;
    /* box-shadow: 5px 3px 5px 3px rgba(238, 207, 150, 0.253); */
    padding: 50px;
    /* background-color: rgb(255, 255, 255);  */
    margin-bottom: 30px;
}

li {
    list-style-type: none;
    
}

.input{
    border-radius: 15px;
}
